<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="#{courses.add}"/>

    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="text-center">
                    <strong class="panel-title" th:text="#{courses.add}"></strong>
                </div>
            </div>
            <form role="form" th:action="@{/add_courses}" method="post" enctype="multipart/form-data">

                <input type="hidden" name="actId" th:value="${actId}"/>
                <input type="hidden" name="parentId" th:value="${parentId}"/>

                <div class="panel-body">
                    <div class="row">

                        <!--<div class="col-xs-6 col-sm-6 col-md-6 login-box">-->
                        <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-picture"></span></span>
                            <label class="file_upload" required="False">
                                <mark th:text="#{courses.picture}"></mark>

                                <input type="file" name="img"/>
                            </label>
                            <script>
                                $(function () {
                                    var wrapper = $(".file_upload"),
                                            inp = wrapper.find("input"),
                                            lbl = wrapper.find("mark");

                                    // Crutches for the :focus style:
                                    inp.focus(function () {
                                        wrapper.addClass("focus");
                                    }).blur(function () {
                                        wrapper.removeClass("focus");
                                    });

//                                            var file_api = ( window.File &amp;&amp; window.FileReader &amp;&amp; window.FileList &amp;&amp; window.Blob ) ? true : false;

                                    inp.change(function () {

                                        if (inp[0].files[0])
                                            file_name = inp[0].files[0].name;
                                        else
                                            file_name = inp.val().replace("C:\\fakepath\\", '');

                                        if (!file_name.length)
                                            return;

                                        if (lbl.is(":visible")) {
                                            lbl.text(file_name);

                                        }
                                    }).change();

                                });
                                $(window).resize(function () {
                                    $(".file_upload input").triggerHandler("change");
                                });
                            </script>
                        </div>
                        <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-list-alt"></span></span>
                            <input type="number" class="form-control" name="number"
                                   th:placeholder="#{courses.number}" required="True"/>
                        </div>
                        <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-list-alt"></span></span>
                            <input type="text" class="form-control" name="caption"
                                   th:placeholder="#{courses.caption}" required="True"/>
                        </div>
                        <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-list-alt"></span></span>
                                    <textarea type="text" class="form-control" name="description" style="width: 100%"
                                              th:placeholder="#{courses.text}" required="True"/>
                        </div>

                        <!--</div>-->

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button type="submit" class="btn btn-labeled btn-success">
                                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span><span
                                    th:text="OK"/></button>
                            <button type="button" onclick="history.back();"
                                    class="btn btn-labeled btn-danger">
                                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span><span
                                    th:text="#{users.exit}"/></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>