<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="${course.caption}"/>


    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>
</head>
<body>
    <div class="container">

        <h1  th:text="${course.caption}"></h1>

        <img th:if ="${not #strings.isEmpty(course.imgLink)}" src="#" width="150" th:src="${'/imgCourse=' + course.id}"/>

        <h2  th:text="#{courses.description}"></h2>
        <div id = "txt"/>
        <script th:inline="javascript">
        /*<![CDATA[*/
        var txt =/*[[${course.text}]]*/ 'description';
        /*]]>*/
        var scrl = document.getElementById("txt");
        scrl.innerHTML  = txt.replaceAll('\n', '<br/>') + '<br/>';
        </script>


            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="text-center">
                            <strong class="panel-title" th:text="#{courses.topicsList}"></strong>
                        </div>
                    </div>
                    <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
                        <a th:href="${'/coursesadd/1/' + course.id }" th:text="#{courses.addTopic}"></a>
                    </div>
                    <div >
                        <div th:if="${not #lists.isEmpty(lectureList)}">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th th:text="#{courses.caption}"></th>
                                        <th th:text="#{courses.description}"></th>
                                        <th></th>
                                        <th th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="topic : ${lectureList}">
                                        <td><img th:if ="${not #strings.isEmpty(topic.imgLink)}" src="#" width="100" th:src="${'/imgTopic=' + topic.id}"/></td>
                                        <td th:text="${topic.caption}"></td>
                                        <td th:text="${topic.text}"></td>
                                        <td><a th:href="${'/topic/' + topic.id + '/1'}" th:text="#{courses.view}"></a></td>
                                        <td th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}"><a th:href="${'/delete_topic/' + topic.id}" th:text="#{courses.delete}"></a></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>