<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="#{navMenu.courses}"/>

    <th:block th:include="fragments/headerinc :: head"></th:block>
     <th:block th:include="fragments/header :: header"></th:block>
</head>
<body>

<div class="container">
    <h2  th:text="#{courses.list}"></h2>
        <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
            <a th:href="${'/coursesadd/0/0'}" th:text="#{courses.addCourse}"></a>
        </div>
    <div th:if="${not #lists.isEmpty(courseList)}">
        <table class="table table-striped">
            <tr>
                <th></th>
                <th th:text="#{courses.caption}"></th>
                <th th:text="#{courses.description}"></th>
                <th></th>
                <th th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}"></th>
            </tr>
            <tr th:each="course : ${courseList}">
                <td><img th:if ="${not #strings.isEmpty(course.imgLink)}" src="#" width="150" th:src="${'/imgCourse=' + course.id}"/></td>
                <td th:text="${course.caption}"></td>
                <td th:text="${course.text}"></td>
                <td><a th:href="${'/course/' + course.id}" th:text="#{courses.view}"></a></td>
                <td th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}"><a th:href="${'/delete_course/' + course.id}" th:text="#{courses.delete}"></a></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>