<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="#{navMenu.courses}"/>

    <th:block th:include="fragments/headerinc :: head"></th:block>
     <th:block th:include="fragments/header :: header"></th:block>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title" th:text="#{courses.list}"></h1>
            </div>
            <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
                <a th:href="${'/coursesadd/0/0'}" th:text="#{courses.addCourse}"></a>
            </div>

            <table th:if="${not #lists.isEmpty(courseList)}" class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th th:text="#{courses.caption}"></th>
                        <th th:text="#{courses.description}"></th>
                        <th></th>
                        <th th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="course : ${courseList}">
                        <td><img th:if ="${not #strings.isEmpty(course.imgLink)}" src="#" width="150" th:src="${'/imgCourse=' + course.id}"/></td>
                        <td  th:text="${course.caption}"></td>
                        <td  th:text="${course.text}"></td>
                        <td><a th:href="${'/course/' + course.id}" th:text="#{courses.view}"></a></td>
                        <td th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}"><a th:href="${'/delete_course/' + course.id}" th:text="#{courses.delete}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>