<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="#{courses.add}"/>
    <script src="/js/sockjs-0.3.4.js"></script>
    <script src="/js/stomp.js"></script>
    <script type="text/javascript" th:inline="javascript">
        String.prototype.replaceAll = function(character,replaceChar){
            var word = this.valueOf();

            while(word.indexOf(character) != -1)
                word = word.replace(character,replaceChar);

            return word;
        }

        function out_print(parId, msg){
            var scrl = document.getElementById(parId);
            scrl.innerHTML  +=  msg .replaceAll('\n', '<br/>') + '<br/>';
            scrl.scrollTop = scrl.scrollHeight;

        }
    </script>

    <th:block th:include="fragments/headerinc :: head"></th:block>
    <th:block th:include="fragments/header :: header"></th:block>
</head>
<body>
<div class="container">
    <h1  th:text="${course.caption}"></h1>
    <h2  th:text="${lecture.caption}"></h2>
    <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
        <a th:href="${'/coursesadd/2/' + lecture.id}" th:text="#{courses.addParagraph}"></a>
    </div>
    <div th:if="${not #lists.isEmpty(paragraphList)}">
        <table class="table table-striped">
            <tr>
                <th></th>
                <th th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}"></th>
            </tr>
            <tr th:each="paragraph : ${paragraphList}">
                <td>
                    <h3 th:text="${paragraph.caption}"></h3>
                    <img th:if ="${not #strings.isEmpty(paragraph.imgLink)}" src="#" width="150" th:src="${'/imgParagraph=' + paragraph.id}"/>
                    <div th:id = "${paragraph.id}">

                    </div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        var parId = /*[[${paragraph.id}]]*/ 'parId';
                        var msg = /*[[${paragraph.text}]]*/ 'msg';

                        /*]]>*/
                    out_print(parId, msg);
                    </script>
                </td>

                <td th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}"><a th:href="${'/delete_paragraph/' + paragraph.id}" th:text="#{courses.delete}"></a></td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>