<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Валидатор кода</title>
    <script src="/js/sockjs-0.3.4.js"></script>
    <script src="/js/stomp.js"></script>
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="/codemirror/addon/hint/show-hint.css"/>
    <link rel="stylesheet" href="/codemirror/addon/fold/foldgutter.css"/>


    <script src="/codemirror/lib/codemirror.js"></script>

    <script src="/codemirror/addon/hint/show-hint.js"></script>
    <script src="/codemirror/addon/hint/anyword-hint.js"></script>

    <script src="/codemirror/addon/edit/closebrackets.js"></script>

    <script src="/codemirror/addon/fold/foldcode.js"></script>
    <script src="/codemirror/addon/fold/foldgutter.js"></script>
    <script src="/codemirror/addon/fold/brace-fold.js"></script>
    <script src="/codemirror/addon/fold/xml-fold.js"></script>
    <script src="/codemirror/addon/fold/markdown-fold.js"></script>
    <script src="/codemirror/addon/fold/comment-fold.js"></script>


    <script src="/codemirror/mode/xml/xml.js"></script>

    <script src="/codemirror/mode/css/css.js"></script>
    <script src="/codemirror/mode/clike/clike.js"></script>
    <script src="/codemirror/mode/php/php.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>

    <script type="text/javascript" th:inline="javascript">
        var editor;
        var inputCode = null;
        var stompClient = null;
        var sessionId;
        function init() {
            inputCode = document.getElementById('inputCode');

            CodeMirror.commands.autocomplete = function (cm) {
                cm.showHint({hint: CodeMirror.hint.anyword});
            }


            editor = CodeMirror.fromTextArea(inputCode, {
                lineNumbers: true, // Нумеровать каждую строчку.
                matchBrackets: true,
                extraKeys: {
                    "Ctrl-Space": "autocomplete",
                    "Ctrl-Q": function (cm) {
                        cm.foldCode(cm.getCursor());
                    },
                    "Ctrl-Enter": function (cm) {
                        EditEnter();
                    }
                },

                mode: "text/x-java",
                indentUnit: 2, // Длина отступа в пробелах.
                indentWithTabs: true,
                enterMode: "keep",
                tabMode: "shift",
                autoCloseBrackets: true,

                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });

            connect();
        }


        function setConnected(connected) {
        }
        function connect() {

            var socket = new SockJS('/ws');

            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                out_println('Connected: ' + frame);
                /*<![CDATA[*/

                sessionId = /*[[${#httpServletRequest.getRequestedSessionId()}]]*/ 'sessionId';

                /*]]>*/
                //out_println('sessionId:' + sessionId);
                stompClient.subscribe('/user/queue/out_print', function (greeting) {
                    out_print(greeting.body);
                    stompClient.send("/app/ws", {}, JSON.stringify({
                        'commandId': 2,
                        'sessionId': sessionId,
                        'msg': greeting.body
                    }));
                });

//                // установим обработчик события keypress, элементу с идентификатором inputCMD
//                $('#inputCMD').keypress(function(eventObject){
//                    alert('Вы ввели символ с клавиатуры. Его код равен ' + String.fromCharCode(eventObject.which));
//                });
                //sendJCode();
            });
//            stompClient.events.add('on')


            z
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            out_println("Disconnected");
        }


        function sendJCode() {


            var msg = editor.getValue();
            stompClient.send("/app/ws", {}, JSON.stringify({'commandId': 0, 'sessionId': sessionId, 'msg': msg}));

        }


        function EditEnter() {
            var event = EditEnter.caller.arguments[0] || window.event;
            key = event.keyCode;
            if (key == 13) {
                var inpt = document.getElementById("inputCMD");
                var msgCMD = inpt.value.replace('\n','');
                out_println(msgCMD);
                stompClient.send("/app/ws", {}, JSON.stringify({
                    'commandId': 1,
                    'sessionId': sessionId,
                    'msg': inpt.value
                }));

                inpt.value = '';
            }

        }



        String.prototype.replaceAll = function (character, replaceChar) {
            var word = this.valueOf();

            while (word.indexOf(character) != -1)
                word = word.replace(character, replaceChar);

            return word;
        }

        function out_print(s) {
            var scrl = document.getElementById("scrollboxCMD");
            scrl.innerHTML += s.replaceAll('\n', '<br/>') + '<br/>';
            scrl.scrollTop = scrl.scrollHeight;

//            disconnect();
        }

        function out_println(s) {
            var scrl = document.getElementById("scrollboxCMD");
            scrl.innerHTML = scrl.innerHTML + s.replaceAll('\n', '<br/>') + '<br/>';
            scrl.scrollTop = scrl.scrollHeight;
        }


    </script>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>
<body onload="init();">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" text="Валидатор для тестов">Валидатор для тестов
                </h3>
            </div>

            <b>Console</b>
            <div id="scrollboxCMD">
            </div>


            <textarea id="inputCMD" onkeyup="EditEnter();"/>


        <textarea id="inputCode">
import java.io.*;

public class Lesson{
  public static void main(String[] args) throws Exception{
	InputStream inputStream = System.in;
	Reader inputStreamReader = new InputStreamReader(inputStream);
	BufferedReader bufferedReader = new BufferedReader(inputStreamReader);
    System.out.println("Введите число1");
	String Price = bufferedReader.readLine(); //читаем строку с клавиатуры
    System.out.println("Введенное число1--" + Price);

	System.out.println("Введите число2");
	Price += bufferedReader.readLine(); //читаем строку с клавиатуры
    System.out.println("Введенное число2--" + Price);

	System.out.println("Введите число3");
	Price += bufferedReader.readLine(); //читаем строку с клавиатуры
    System.out.println("Введенное число3--" + Price);

	System.out.println("Я буду зарабатывать $" + Price + " в час");
  }
}


        </textarea>
            <!--<button id="sendCLI" style="width:70px" onclick="sendJCode();">ок</button>-->

            <div class="panel-footer">
                <div class="row">
                    <button onclick="sendJCode();" class="btn btn-labeled btn-success">
                        <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span><span
                            th:text="OK"/></button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>