<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="#{navMenu.home}"/>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

</head>
<body>
<div class="container">

    <h2 style="color: #ff0000">Главная.Страница в разработке!</h2>


    <div class="comments">
        <h3 class="title-comments">Комментарии </h3>
        <a th:if="${#authorization.expression('isAuthenticated()')}" href="#" th:href="${'/addCommentForm'}" th:text="'добавить комментарий'"/>
        <ul class="media-list" th:if="${not #lists.isEmpty(commentList)}">
            <!-- Комментарий  -->
            <li class="media" th:each="comment : ${commentList}">
                <div class="media-left">
                    <a href="#" th:href="@{'getUser/'+ ${comment.user.username}}">
                        <img class="media-object img-rounded" src="#" th:src="${'/imgUser=' + comment.user.id}" alt="..."/>
                    </a>
                </div>
                <div class="media-body">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <div class="author" th:text="${comment.user.username}"></div>

                            <div class="metadata">
                                <span class="date" th:text="${comment.dateTime}"></span>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="media-text text-justify" th:text="${comment.msg}">
                            </div>
                        </div>
                        <!--<div class="panel-footer">-->
                            <!--<a class="btn btn-primary" href="#">Ответить</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>