<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{navMenu.login}"/>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div th:if="${param.error}">
        <span th:text="#{login.LoginFail}"/>
    </div>
    <div th:if="${param.logout}">
        <span th:text="#{login.logout}"/>
    </div>

    <h2><span th:text="#{navMenu.login}"/></h2>
    <br/>
    <br/>
    <form th:action="@{/j_spring_security_check}" method="post">
        <table>
            <tr >
                <td><span th:text="#{login.UserName}"/></td>
                <td><input type="text"  name="j_username" /></td>
            </tr>
            <tr >
                <td><span th:text="#{login.pass}"/></td>
                <td><input type="password" name="j_password" /></td>
            </tr>

            <tr>
                <td><input type="submit" value="OK"/></td>
            </tr>
        </table>
    </form>



</div>
</body>
</html>