<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{navMenu.signup}"/>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <div class="row">
            <div >
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{navMenu.signup}">
                        </h3>
                    </div>
                    <form role="form" th:action="@{/users}" method="post">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 login-box">

                                    <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" class="form-control" name="username"
                                               th:placeholder="#{login.UserName}" required="True" autofocus="True"/>
                                    </div>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" class="form-control" name="password"
                                               th:placeholder="#{login.pass}" required="True"/>
                                    </div>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" class="form-control" name="password_confirm"
                                               th:placeholder="#{login.passConf}" required="True"/>
                                    </div>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-inbox"></span></span>
                                        <input type="text" class="form-control" name="e_mail"
                                               th:placeholder="#{login.eMail}" required="True" autofocus="True"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button type="submit" class="btn btn-labeled btn-success">
                                        <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span><span
                                            th:text="OK"/></button>
                                    <button type="button" onclick="history.back();" class="btn btn-labeled btn-danger">
                                        <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span><span
                                            th:text="#{users.exit}"/></button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>
</body>
</html>