<!DOCTYPE html>
<html>
<head lang="en">

    <title>Валидатор кода</title>
    <script src="/js/sockjs-0.3.4.js"></script>
    <script src="/js/stomp.js"></script>
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="/codemirror/addon/hint/show-hint.css"/>
    <link rel="stylesheet" href="/codemirror/addon/fold/foldgutter.css" />


    <script src="/codemirror/lib/codemirror.js"></script>

    <script src="/codemirror/addon/hint/show-hint.js"></script>
    <script src="/codemirror/addon/hint/anyword-hint.js"></script>

    <script src="/codemirror/addon/edit/closebrackets.js"></script>

    <script src="/codemirror/addon/fold/foldcode.js"></script>
    <script src="/codemirror/addon/fold/foldgutter.js"></script>
    <script src="/codemirror/addon/fold/brace-fold.js"></script>
    <script src="/codemirror/addon/fold/xml-fold.js"></script>
    <script src="/codemirror/addon/fold/markdown-fold.js"></script>
    <script src="/codemirror/addon/fold/comment-fold.js"></script>


    <script src="/codemirror/mode/xml/xml.js"></script>

    <script src="/codemirror/mode/css/css.js"></script>
    <script src="/codemirror/mode/clike/clike.js"></script>
    <script src="/codemirror/mode/php/php.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript">
        var editor;
        var inputCode = null;
        var stompClient = null;
        function init(){
            inputCode = document.getElementById('inputCode');

            CodeMirror.commands.autocomplete = function(cm) {
                cm.showHint({hint: CodeMirror.hint.anyword});
            }


            editor = CodeMirror.fromTextArea(inputCode, {
                lineNumbers: true, // Нумеровать каждую строчку.
                matchBrackets: true,
                extraKeys: {    "Ctrl-Space": "autocomplete",
                                "Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); },
                                "Ctrl-Enter": function(cm){EditEnter();}
                            },

                mode: "text/x-java",
                indentUnit: 2, // Длина отступа в пробелах.
                indentWithTabs: true,
                enterMode: "keep",
                tabMode: "shift",
                autoCloseBrackets: true,

                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });

//            CodeMirror.on(sel_top, "change", function() {
//                inputCode.innerText = editor.getValue();
//            });

            connect();
        }

        function setConnected(connected) {
        }
        function connect() {
            var socket = new SockJS('/jcode');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                setConnected(true);
                console.log('Connected: ' + frame);

                stompClient.subscribe('/topic/out_print', function(greeting){
                    out_print(greeting.body);
                });

                stompClient.subscribe('/topic/out_println', function(greeting){
                    out_println(greeting.body);
                });

            });
            stompClient.events.add()




        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }


        function sendJCode() {
            var msg = editor.getValue();
            stompClient.send("/app/jcode", {}, JSON.stringify({ 'msg': msg }));

        }




        function EditEnter()
        {
            var event = EditEnter.caller.arguments[0] || window.event ;
            key = event.keyCode;
            if(key==13)
                sendJCode();
        }

        String.prototype.replaceAll = function(character,replaceChar){
            var word = this.valueOf();

            while(word.indexOf(character) != -1)
                word = word.replace(character,replaceChar);

            return word;
        }

        function out_print(s){
            var scrl = document.getElementById("scrollbox");

            scrl.innerHTML += s.replaceAll('\n', '<br/>');
            scrl.scrollTop = scrl.scrollHeight;
        }

        function out_println(s){
            var scrl = document.getElementById("scrollbox");
            scrl.innerHTML +=   s + '<br/>';
            scrl.scrollTop = scrl.scrollHeight;
        }

    </script>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</head>
<body  onload="init();" >
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div class="container" style=" width:680px; height:380px;">

    <b>Console</b>

    <div id="scrollbox">

    </div>
    <div>

        <textarea id = "inputCode">public class Lesson{
public static void main(String[] args){
    System.out.println("1111111111111111111111111111");
}
}</textarea>
        <button id="sendCLI" style="width:70px" onclick="sendJCode();">ок</button>

    </div>
</div>



</body>
</html>